{% extends 'base.html.twig' %}

{% block title %}Nouvelle Playlist{% endblock %}

{% block body %}
    <h1>Créer une Playlist</h1>

    {{ include('playlist/_form.html.twig') }}

    <a class="hover-text-decoration-none" href="{{ path('playlists') }}">Retour </a>
{% endblock %}
